{% extends '../generics/base.html' %}

{% block body %}
{% include './cust_nav.html' %}


<div class="container">
<div class="">





<h5>Add members to {{society}}.</h5>
<form class=""  method="post">
  {% csrf_token %}
  {% for field in member_form %}
          <div class="input-field control">
              {{ field.errors }}
              {{ field.label_tag }}
              {{ field }}
          </div>
      {% endfor %}
  <button class="waves-effect waves-light btn submit-btn" name="submit">Submit</button>
</form>
</div>
</div>

{% endblock %}
