{% extends '../generics/base.html' %}

{% block body %}
{% include './cust_nav.html' %}

  <input type="number" onChange="handleSubmit(event)" min="2017" max="2030">
  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}
<ul class="collapsible popout" id="app">
{% for year, value in analytics.items %}

    <li class="" id="here" >
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down_circle</i>{{year}}</div>
      <div class="collapsible-body">
        <div class="">
          <table>
            <thead>
              <tr>
                <th>Index</th>
                <th>Total Share</th>
                <th>Installment</th>
                <th>Interest</th>
              </tr>
            </thead>

            <tbody>
              {% for t,v in value.items %}
              <tr>
                <td>{{t}}</td>
                {% for t1, v1 in v.items %}
                <td>{{v1}}</td>
                {% endfor %}

              </tr>
            </tbody>
            {% endfor %}

          </table>
        </div>


      </div>
    </li>

{% endfor %}
</ul>


  <script type="text/javascript">
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
  </script>

<script type="text/javascript">
  handleSubmit = (event) => {
   // event.preventDefault();
   console.log(event.target.value);
   var year = event.target.value;
   $.ajax({
     type: "GET",
     url: "{% url 'record:analytics' society.slug 0 %}".replace("0", year),
     success: function(result){
       // console.log(result);
       // var herre = $($.parseHTML(result)).filter("#here");
       console.log("<li>"+$(result).find("#here").html()+"</li>");

       $("#app").append("<li>"+$(result).find("#here").html()+"</li>");
     }
   })
 }

</script>
{% endblock %}
