{% extends './base.html' %}

{% block body %}
<h1>DASHBOARD</h1>

  {% if societies %}
    {% for society in societies %}
      <p>{{society.society_name}}</p>
      <p>{{society.president}}</p>
      <address class="">
        {{society.address}}
      </address>
      <p><a href="{% url 'record:add-member' id=society.id %}">Add member</a></p>
      <p><a href="{% url 'record:society-dash' id=society.id %}">Manage members</a></p>
      <p><a href="{% url 'record:monthly-record' id=society.id %}">Manage monthly records</a></p>


    {% endfor %}

  {% else %}
    <h1>No Society registered</h1>
  {% endif %}

{% endblock %}
