{% extends './base.html' %}

{% block body %}

<h1>DASHBOARD</h1>

  {% if societies %}
    {% for society in societies %}
      <p>{{society.society_name}}</p>
      <p>{{society.president}}</p>
      <address class="">
        {{society.address}}
      </address>
      <p><a href="{% url 'record:add-member' id=society.id %}">Add member</a></p>
      <p><a href="{% url 'record:society-dash' id=society.id %}">Manage members</a></p>
      <p><a href="{% url 'record:monthly-record' id=society.id %}">Manage monthly records</a></p>


    {% endfor %}

  {% else %}
    <h1>No Society registered</h1>
  {% endif %}




    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
           $('.modal').modal();
         });
    </script>








{% endblock %}
