{% extends '../generics/base.html' %}

{% block body %}

{% include './cust_nav.html' %}

<div class="container">


{% if members %}
<table class="highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Starting share</th>
      <th>Starting loan</th>
      <th>Delete</th>

    </tr>
  </thead>
{% for member in members %}
  <tbody>
    <tr>
      <td>{{member.name}}</td>
      <td>{{member.starting_share}}</td>
      <td>{{member.starting_loan}}</td>
      <td><a href="{% url 'record:delete-member' soc_id=member.society.id id=member.id %}" class="btn">Delete</a> </td>

    </tr>
  </tbody>


{% endfor %}


</table>
{% else %}
<h4>No members. Add <a href="{% url 'record:add-member' slug=society.slug %}">members</a></h4>
</div>

{% endif %}
{% endblock %}
