{% extends '../generics/base.html' %}

{% block body %}
{% include '../home/navbar.html' %}

<div class="">
        <div class="card-container">
        <div class="center">
          <div class="card-inner">
            <h5 class="login">Log in to your account</h5>
            {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </div>
            {% endfor %}

            <form method="POST">
              {% csrf_token %}
              <span class="input-field">
                <!-- <i class="material-icons" style="padding:.7em">face</i> -->
                <label for="username">Email address</label>
                <input class="login-input" type="email" name="username" required><br>
              </span>

              <span class="input-field">
                <!-- <i class="material-icons" style="padding:0.7em">lock</i> -->
                <label for="password">Password</label>
                <input class="login-input" type="password" name="password" required><br>
              </span>
              <button class="btn waves-effect waves-light login-btn deep-orange">Login</button>

            </form>

          </div>
  </div>
  <div class="mics-container center">
    <p><a href="#">Forgot password?</a></p>
    <p>Not registered? Create an <a href="{% url 'account:user_register' %}">account</a>.</p>
  </div>
  </div>
</div>

{% endblock %}
