{% extends '../generics/base.html' %}

{% block body %}

{% include '../home/navbar.html' %}

<div class="">
        <div class="card-container">
        <div class="center">
          <div class="card-inner">
            <h5 class="login">Sign up</h5>
            {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </div>
            {% endfor %}


            <form class="" method="post">
              {% csrf_token %}
              {% for field in user_form %}
                      <div class="input-field">
                          {{ field.errors }}
                          {{ field.label_tag }}
                          {{ field }}
                      </div>
                  {% endfor %}
              <button class="waves-effect waves-light btn login-btn" type="submit" name="submit">Register</button>
            </form>

</div>
</div>
<div class="mics-container center">
  <!-- <p><a href="#">Forgot password?</a></p> -->
  <p>Already have an account. <a href="{% url 'account:user_login' %}">Login</a>.</p>
</div>
</div>
</div>


{% endblock %}
