
select{
  display: block;
}
body{
  background: #fff8e1;
  color: #222222c9;
}
h1,h2,h3,h4,h5,h6,p{
  color: #222222c9!important;

}
button{
  background-color: #ff5722!important;
}
.btn{
  background-color: #ff5722!important;
}
button.close{
  background-color: transparent!important;
}
select{
  display: block;
  background: transparent;
  color: #fff;
}
select, optgroup, option{
  background: transparent;
  color: #000;
}
.container{
  width: 100%;
}
.input-field {
  padding-top: 1em;
}
.input-field label{
  color: #bdbdbd;
}

.input-field input{
  width: auto;
}
.login-input{
  margin-top: 1em!important;
  width: 90%!important;
}



/* for login alerts */
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}
.alert-dismissible .close:hover {
  color: #000;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.alert-danger{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-dismissible{
  padding-right: 4rem;
}
.alert{
  position: relative;
  padding: .75rem 1.25rem;
  margin: 2rem 1rem 1rem 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

/* end */
.ipu_logo{
  height: 1.5em;
  margin: .2em;
}
.ipu-brand{
  display: flex;
}
.ipu-title-brand{
  font-size: .2em;

}
.header{
  background: #757575;
  border-radius: 20px;
}

.card-container{
  margin: 5em 28em;
  border: 1px solid rgb(215,215,215);
  border-radius: 4px;
  background: #fff;
  border-bottom-width: 0px;

}

.card{
  border-radius: 0;
}
.card-inner{
  padding: 2em 2em;
  border:0;
}
.login{
  color: #222;
  /* border-bottom: 2px solid maroon; */
  display: inline;
  padding: .4em;
}
.tag{
  color: #fff;
  text-align: center;
  border-radius: 10px;
  width: 70%;
  margin: 2em auto;
}
.input-login{
  display: flex;
  margin: 1.5em;
}

.month-selector{
  width: auto;
}
.btn-container{
  margin-top: 1em;
}

.society-card{
  background: #fff;
  padding: 2em;
  margin: 1em;
  border-radius: 5px;
  border: .5px solid #776f6f42;
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
}
.society-title{
  text-transform: uppercase;
  letter-spacing: .07em;
  font-size: 3em;
  line-height: 1em;
}

.society-president{
  letter-spacing: .07em;
  font-size: 1.2em;
  line-height: 1em;

}
.society-address{

}


.add-member-container{
  margin: 1em;
}
.login-btn{
  width: 95%;
  margin-top: 2em;
}
.mics-container{
  background: #80808030;
  width: 100%;
  padding: .01em;
}

.empty{

}
.control input{
  width: 50%!important;
}
.submit-btn{
  width: 50%;
}


@media screen and (max-width: 720px) {
  
  .card-container{
    text-align: center;
    margin: 5em 2em;

  }
  .control input{
    width: 100%!important;
  }
  .submit-btn{
    width: 100%;
  }
}

@media screen and (max-width: 1020px) {

  .card-container{
    text-align: center;
    margin: 5em 2em;

  }
  .control input{
    width: 100%!important;
  }
  .submit-btn{
    width: 100%;
  }
  .brand-logo{
    font-size: 1em!important;
  }
}
